---
layout: default
title: Projects
features:
 - title: NoaOlivia Website
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo unde quaerat sit! Ratione assumenda tempore mollitia quos vitae, quas maxime sunt saepe numquam modi quaerat beatae tempora quod natus accusamus.
   featured_image: /images/placeholder-project.png
   live-url: https://google.com
   designed-by: Designer
   built-by: Web Developer
---

<!-- Portfolio Section -->
<section class="padded-5 bg-green text-light">
    <div class="grid">
        <div class="col-8_xs-12">
            <h2>We design & create but if you have a design of your own, let us know!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto facere iure animi perferendis perspiciatis non earum rerum beatae in consequatur ipsa, quo atque ullam dicta ipsum et. Harum, ut mollitia.</p>
        </div>
    </div>

    {% for project in site.projects limit:5 offset:1 %}
    <div class="grid margin-t-3">
        <div class="col-5 bg-image" style="background-image: url('{{project.featured_image}}');"></div>
        <div class="col-7-middle padded-5">
            <h3>{{project.title}}</h3>
            <p>{{project.description}}</p>
            <p><strong>Design by: {{project.designed-by}}</strong></p>
            <p><strong>Build by: {{project.built-by}}</strong></p>
            <a href="{{project.live-url}}" class="button-light" target="_blank">Go to site</a>
        </div>
    </div>
    {% endfor %}
</section>

<!-- Newsletter Section -->
<section>
    {% include newsletter-signup.html %}
</section>

<!-- Featured Section -->
<section>
    <div class="capped-width">
        {% for item in page.features limit:1 %}
        <div class="grid flex-flip-alternate">
            <div class="col-5_sm-12-middle padded-5">
                <h3>{{item.title}}</h3>
                <p>{{item.description}}</p>
                <p><strong>Design by: {{item.designed-by}}</strong></p>
                <p><strong>Build by: {{item.built-by}}</strong></p>
                <a href="{{project.live-url}}" class="button-dark" target="_blank">Go to site</a>
            </div>
            <div class="col-7_sm-12-middle padded-5">
                <img src="{{item.featured_image}}" alt="{{item.title}}">   
            </div>
        </div>
        {% endfor %}
    </div>
 </section>