<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{page.title}}</title>

    <!-- Viewport meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap" rel="stylesheet">  

    <!-- My own custom stylesheet -->
    <link rel="stylesheet" href="/style.css">

</head>

<body>

    <!-- Header -->
    <header class="grid">
        <div class="col-6_sm-12 mob-center mob-margin-b-1">
            <h1><a href="/index.html">The Design Collective.</a></h1>
        </div>
        <nav class="col-6_sm-12-middle right mob-center">
            <a href="/about.html">About</a>
            <a href="/services.html">Services</a>
            <a href="/projects.html">Projects</a>
            <a href="/contact.html">Contact</a>
        </nav>
    </header>

    {{content}}

    <!-- Footer -->
    <footer class="bg-brown text-light" id="contact">
        <div class="grid padded-5">
            <div class="col-8_xs-9">
                <h2>The Design Collective</h2>
                <h3>Web Design & Development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dignissimos quod laudantium eligendi, distinctio incidunt quibusdam, modi amet dolorum ullam molestias odio cupiditate cum debitis odit dolore? Quis, sequi autem.</p>
            </div>
            <div class="col-4_xs-12-middle right">
                <h4>Let's Connect</h4>
                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        <div>
            <p class="center copyright">Copyright 2022</p>
        </div>
    </footer>

</body> 

</html>